@font-face {
    font-family: 'Norse Bold';
    src: url("Norse-Bold.otf");
}
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

:root{
    --button-colour: #596D48;
    --button-colour-darker: #465c34;
    --border-colour: #E5E7EB;
    --invalid-colour: red;
}

body{
    display: flex;
    margin:0;
    padding: 0;
}
.sidebar{
    height: 100vh;
    width: 40vw;
    object-fit: cover;
    background-image: url("./Pictures/background.jpg");
    background-size: cover;
    text-align: center;
}
.odinlogo{
    width:40vw;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 60px;
    text-align: center;
    font-family: 'Norse Bold';  
    background-color: rgba(0,0,0,0.4);
}
.odinlogo img{
    width: 150px;
    height: auto;
}
.maincontent{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    font-family: 'Oxygen';
    background-color: rgb(235, 231, 231);
}
form{
    display:inline-block;
    
}
.details{
    height: 30%;
    box-shadow: 0 3px 5px rgb(172, 169, 169);
    background-color: white;
    padding-top:15px;
    padding-bottom:10px;
    margin-left:75px;
    padding-left:25px;
    padding-right:100px;
    border-radius: 20px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    display: inline-block;
    margin-right:3px;
    margin-bottom: 25px;
}

.description{
    font-size: 24px;
    font-weight: 500;
    margin-left: 100px;
    width:60%;
}
.headertxt{
    font-size: 24px;
    font-weight: 500;
}
.submitbutt{
    margin-top:32px;
    margin-left:100px;
}

.footer{
    margin-top:32px;
    margin-left:100px;
}
label{
    font-size: 0.65rem;
}
input[type="text"],input[type="email"],input[type="password"]{
    height: 3.5vh;
    width: 30vh;
    border: solid 1.25px var(--border-colour);
    border-radius: 5px;
}
input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus{
    outline: none;
    border: solid 1.25px blue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

button[type="submit"]{
    border:none;
    text-decoration: none;
    background-color: var(--button-colour);
    width:240px;
    height:auto;
    padding: 10px 40px 10px 40px;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    transition: 0.5s;
}
button[type="submit"]:hover{
    cursor:pointer;
    background-color: var(--button-colour-darker);
}
.passwordAlert {
    border-color: red;
    outline: red;
    border-radius: 5px;
}
  
#password_alert {
    display: none;
}
  
.footer a{
    text-decoration: none;
    color:var(--button-colour);
    font-weight: 600;
}

.footer a:hover{
    color:var(--button-colour-darker);
}

.credit{
    color: white;
    font-size: 18px;
    font-weight: 500;
    position:fixed;
    bottom:0;
    left:12%;
}

.credit a{
    color: white;
}
